body {
    background-color: #4682b4; 
  }

h1 {
    color: #ffffff;
    text-shadow: #00008b  1px 0 10px;
}

h2 {
    font-size: 90%;
    background: linear-gradient(0.25turn, #ffffff, #4682b4);
}

div  {
    padding :30px,100px,30px,100px;
    margin : 20px ;
    background-color : rgb(255, 255, 255,0.8) ;
    text-align: center;
    padding:20px 0;
} 



a:link {
    color: pink;
  }
  
  a:visited {
    color: #4b0082;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  