body {
    background-color: #4682b4; 
  }

h1 {
    font-size: 300%;
    color: #ffffff;
    text-shadow: #00008b  1px 0 10px;
}

h2 {
    font-size: 90%;
    background: linear-gradient(0.25turn, #ffffff, #4682b4);
}

.box1 {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #000000;
  background: rgb(255, 255, 255, 0.7);
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
}



a:link {
    color: pink;
  }
  
  a:visited {
    color: #4b0082;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  